---
layout: default
---

<div class="home">
  <img style="width:250px; margin-right:10px;" src="{{ site.baseurl }}/img/logo.png" alt="..." class="pull-left">
  <p>This table contains automated diff's of files between moveset files for Ultra Street Fighter 4. 
  It uses the fact that all files from previous patches are present on PC versions of the game to create a list of raw differences between the files.
  As a result, the resulting data can be a little complicated to understand, but its all accurate, and sometimes changes that Capcom doesn't list have ended up happening!
  Think of this page as a way to get insight into how these patches are coded and delievered to us, and a way to check for hidden tech that has popped up in the game that no one may know about! <strong>-dantarion</strong></p>
  <p><small>Source code that generates this site is availible at <a href="http://dantarion.github.io/sf4tools/">dantarion.github.io/sf4tools</a></small>
  <p><strong>Shoutouts to @Eternal0Star, who always hounds me about getting the patch diffs up quickly, as he is the one that takes this automated data and presents it to the world in laymans terms!</strong></p>
  <table class="table table-bordered table-condensed table-hover">
	<tr>
		<th class="brright">Character</th>
		<th class="vertical" ><div>Super</div></th>
		<th class="vertical" colspan="2"><div>AE</div></th>
		<th class="vertical" colspan="2"><div>AE2012</div></th>
		<th class="vertical" colspan="2"><div>AE2012 v1.01</div></th>
		<th class="vertical" colspan="2" ><div>AE2012 v1.04</div></th>
		<th class="vertical" colspan="2"><div>Ultra v1.02</div></th>
		<th class="vertical" colspan="2"><div>Ultra v1.03</div></th>
		<th class="vertical" colspan="2"><div>Ultra v1.03b</div></th>
		<th class="vertical" colspan="2"><div>Ultra v1.04</div></th>
		<th class="vertical" ><div>Ultra v1.05</div></th>
		<th class="vertical brleft" ><div>Vanilla v1.02</div></th>
		<th class="vertical" colspan="2"><div>Vanilla v1.03</div></th>
		<th class="vertical" ><div>Vanilla v1.04</div></th>
		<th class="vertical brleft" ><div>Omega v1.04</div></th>
		<th class="vertical" ><div>Omega v1.05</div></th>
	</tr>
	<tr>
		<th class="brright">Example</th>
		<td colspan="2" class="success">diff</td>
		<td colspan="2">&#8212;</td>
		<td colspan="2">&#8212;</td>
		<td colspan="2">&#8212;</td>
		<td colspan="2">&#8212;</td>
		<td colspan="2">&#8212;</td>
		<td colspan="2">&#8212;</td>
		<td colspan="2">&#8212;</td>
		<td colspan="2">&#8212;</td>
		<td colspan="2" class="brleft">&#8212;</td>
		<td colspan="2">&#8212;</td>
		<td colspan="2" class="brleft">&#8212;</td>
	</tr>
	{% include table.html %}
  </table>
  <h3>Updates</h3>
	<div class="list-group">
	{% for post in site.posts %}
		<a href="{{ post.url | prepend: site.baseurl }}" class="list-group-item active">
	<h4 class="list-group-item-heading">{{ post.title }}</h4>
	<p class="list-group-item-text">{{ post.date | date: "%b %-d, %Y" }}</p>
	</a>
	{% endfor %}
	</div>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
